body{
    background-color: black;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
.carousel1{
    margin-top: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}
.carousel2{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.titulo{
    color: black;
}
.navbar-nav{
    text-align: center;
    width: 93%;
}
.nav-item{
    width: 30%
}
.img{
    text-align: center;
}
.borda{
    border-radius: 5px;
}
.row{
    clear: both;
}
.scroll{
    height:150px;
    overflow-y: scroll;
    min-height: 300px;
    padding: 10px;
}
.Google{
    padding-top: 10px;
}
.Maps{
    width: 60%;
    height: 200px;
}
.navbar-nav > li.active > a {
    color: #28a745 !important;
}
.tamanho{
    width: 40px ;
}
.block{
    display: inline-block;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
}
.button{
    width: 100%;
}
.Background{
    background-image: url("../img/fundo.jpg");
    height: 700px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    opacity: 0.6;
    background-size: cover;
    background-position: center;
}
.head{
   
    color: white;
    text-shadow: 1px 1px 3px #000000;
    font-family: "Times New Roman", " Times", " serif";
    font-size: 120px;
}
.title{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}